In [67]:
import pandas as pd

dataset = pd.read_csv('./Datasets/PlayTennis.csv')
dataset

   PlayTennis   Outlook Temperature Humidity    Wind
0          No     Sunny         Hot     High    Weak
1          No     Sunny         Hot     High  Strong
2         Yes  Overcast         Hot     High    Weak
3         Yes      Rain        Mild     High    Weak
4         Yes      Rain        Cool   Normal    Weak
5          No      Rain        Cool   Normal  Strong
6         Yes  Overcast        Cool   Normal  Strong
7          No     Sunny        Mild     High    Weak
8         Yes     Sunny        Cool   Normal    Weak
9         Yes      Rain        Mild   Normal    Weak
10        Yes     Sunny        Mild   Normal  Strong
11        Yes  Overcast        Mild     High  Strong
12        Yes  Overcast         Hot   Normal    Weak
13         No      Rain        Mild     High  Strong

In [68]:
import math

In [69]:
ol = dataset.groupby('Outlook')
ol.get_group('Sunny')

   PlayTennis Outlook Temperature Humidity    Wind
0          No   Sunny         Hot     High    Weak
1          No   Sunny         Hot     High  Strong
7          No   Sunny        Mild     High    Weak
8         Yes   Sunny        Cool   Normal    Weak
10        Yes   Sunny        Mild   Normal  Strong

In [70]:
def calculateEntropy(datagroup):
    p = n = rows = 0
    for index, row in datagroup.iterrows():
        if(row['PlayTennis'] == 'Yes'):
            p += 1
        else:
            n += 1
        rows += 1
            
    p /= rows
    n /= rows
    #print(p,"\t",n)
            
    if p != 0 and n != 0 :        
        entropy = -p * math.log2(p) -n * math.log2(n)
        return entropy
    else:
        return 0

In [71]:
attribs = list(dataset.columns)
attribs.remove('PlayTennis')
datasetentropy = calculateEntropy(dataset)
datasetentropy

0.9402859586706311

In [72]:
df = dataset.groupby('Outlook')
for index, row in df.first().iterrows():
    print(index)

Overcast
Rain
Sunny

In [73]:
def calculateInfoGain(entropies, datasetentropy, length):
    entries = list(entropies.values())
    Summation = 0
    for entry in entries:
        Summation += entry[1] / length * entry[0]
        
    return (datasetentropy - Summation)

In [74]:
#Calculate Information Gain
infogain = {}
for attrib in attribs:
    entropies = {}
    attribvalues = dataset.groupby(attrib)
    for index, row in attribvalues.first().iterrows():
        entropy = calculateEntropy(attribvalues.get_group(index))
        #print(index)
        #print(entropy)
        Sv = len(attribvalues.get_group(index))
        entropies[index] = [entropy, Sv]
        #print(entropies)
        #print(len(attribvalues.get_group(index)))
    #print(attrib)
    #print(calculateInfoGain(entropies, datasetentropy, len(dataset)))
    infogain[calculateInfoGain(entropies, datasetentropy, len(dataset))] = attrib

In [75]:
rootnode = infogain[max(list(infogain.keys()))]
rootnode

'Outlook'

In [ ]:
dataset = dataset.groupby(rootnode)